body {
    background-color: #78dae7; /* Celeste claro suave */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}
mark {
    background-color: #b2ebf2; 
    color: #006064;           
    padding: 2px 6px;
    border-radius: 3px;
}
ul, ol {
    text-align: center;
    padding: 0;
    margin: 20px auto;
    max-width: 400px;
    list-style-position: inside; 
}
ul li, ol li {
    display: block;
    text-align: left;
    margin: 5px 0;
    padding-left: 0;
}